In [ ]:
%pip install pyarrow

Requirement already satisfied: pyarrow in /usr/local/lib/python3.12/site-packages (19.0.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable.It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: pip install --upgrade pip

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 
import torch

In [4]:
RANDOM_SEED = 30
MAX_LEN = 200
BATCH_SIZE = 16
NCLASSES = 2

np.random.seed(RANDOM_SEED)
torch.manual_seed(RANDOM_SEED)
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")
print(device)

cpu

In [11]:
df= pd.read_parquet("Datos/spanish%2Fmultilingual-sentiments-train.parquet")
df["label"] = df["label"].replace({0: 1, 1: 0, 2: -1})
df.drop("source",axis=1,inplace=True)
df.head(10)

                                                text  label
0  estoy hasta el ojete de que me digáis que teng...     -1
1  @user Por?  Tenía pensado verla después de la ...      0
2                           Esto de estar feliz mola      1
3                             Ya no es tan divertido     -1
4  @user te recuerdo que soy una persona que tien...      0
5  @user @user @user con una pequeña donación har...      1
6  He probado una nueva espuma para el pelo y sí ...     -1
7  @user Ojalá pudiera darte el abrazo en vivo o ...      0
8  @user aquí tienes a mi bae aka una egipcia pre...      1
9                     @user ya somos dos, que triste     -1

In [6]:
df["label"].unique()

array([-1,  0,  1])

In [13]:
test_df = pd.read_parquet("Datos/spanish%2Fmultilingual-sentiments-test.parquet")
test_df["label"] = test_df["label"].replace({0: 1, 1: 0, 2: -1})
test_df.drop("source",axis=1,inplace=True)
test_df.head()

                                                text  label
0  @user jajajaja dale, hacete la boluda vos jaja...     -1
1  cada vez que cito un tweet se va la ubicación ...      0
2  @user MAAAAE RAJADO! Pero lo bueno es q uno se...      1
3  Bueno hoy fui a almorzar a Nanay con otras 3 d...     -1
4  Necesito seguir a mas cuentas camren shippers ...      0

In [8]:
#!pip freeze > requirements.txt

In [14]:
#tokenitation
PRE_TRAINED_MODEL_NAME = 'bert-base-cased'
tokenizer = BertTokenizer.from_pretrained(PRE_TRAINED_MODEL_NAME)

In [ ]:
# tokenitation example
sample_txt = 'I really loved that movie!'
tokens = tokenizer.tokenize(sample_txt)
token_ids = tokenizer.convert_tokens_to_ids(tokens)
print('Frase: ', sample_txt)
print('Tokens: ', tokens)
print('Tokens numéricos: ', token_ids)